.vagrant/
.idea/
vendor/
data/*
!data/zf-metal-generator/
config/development.config.php
phpunit.xml
ubuntu-xenial-16.04-cloudimg-console.log
/nbproject/private/
composer.lock
public/cv/img/*
composer.lock