/*PADDING*/
.nopadding{
    padding: 0;  
}
.padding2{
    padding:2px ! important;

}

.padding5{
    padding:5px ! important;
}

.paddingRight5{
    padding-right:5px;
}

/*MARGIN*/
.nomargin{
    margin: 0;  
}

.margin2{
    margin:2px;
}

.margin5{
    margin:5px;
}

.margin6{
    margin:6px;
}


/*CURSOR*/
.cursor-pointer{
    cursor: pointer;   
}

.box-highlight:hover{
   /* background-color: #fff4b0; */
}

/*HEXA FONTAWESOME*/
.fasave:before{
    content: '\f0c7';
    font-family: FontAwesome;
}



/* BOOTSTRAP PANELS*/
.panel-heading-min{
    padding: 5px 15px 5px 15px;
}

.panel-heading.active {
    background-color: #dee7fa;
}

.huge {
    font-size: 40px;
}

/*PANEL CV*/
.panel-cv>.panel-heading {
    color: #FFFFFF;
    background-color: #0178a5;
    border-color: #ddd;
    font-size: 10px;
    padding: 2px 5px;
}

.panel-cv>.panel-heading >.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10px;
    color: inherit;
}

/*PANEL*/
.panel-green {
    border-color: #5cb85c;
}
.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}
.panel-green > a {
    color: #5cb85c;
}
.panel-green > a:hover {
    color: #3d8b3d;
}
.panel-red {
    border-color: #d9534f;
}
.panel-red > .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
}
.panel-red > a {
    color: #d9534f;
}
.panel-red > a:hover {
    color: #b52b27;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}
.panel-yellow > a {
    color: #f0ad4e;
}
.panel-yellow > a:hover {
    color: #df8a13;
}


.autocomplete,.autocomplete ul,.autocomplete ul li a,.showAll-transition,.transition{transition:all .3s ease-out;-moz-transition:all .3s ease-out;-webkit-transition:all .3s ease-out;-o-transition:all .3s ease-out}.autocomplete ul{z-index:100;font-family:sans-serif;position:absolute;list-style:none;background:#f8f8f8;padding:10px 0;margin:0;display:inline-block;min-width:15%;margin-top:10px}.autocomplete ul:before{content:"";display:block;position:absolute;height:0;width:0;border:10px solid transparent;border-bottom:10px solid #f8f8f8;left:46%;top:-20px}.autocomplete ul li a{text-decoration:none;display:block;background:#f8f8f8;color:#2b2b2b;padding:5px;padding-left:10px}.autocomplete ul li.focus-list a,.autocomplete ul li a:hover{color:#fff;background:#2f9af7}.autocomplete ul li a .autocomplete-anchor-label,.autocomplete ul li a span{display:block;margin-top:3px;color:grey;font-size:13px}.autocomplete ul li.focus-list a span,.autocomplete ul li a:hover .autocomplete-anchor-label{color:#fff}
